logs
consumption-service/*.log*
ingestion-service/*.log*
tmp
.history
**/.classpath
**/.project
**/.settings
/.idea
**/.idea
/*.iml
bin
.cache
.DS_Store
.*~
.metadata
RemoteSystemsTempFiles
.idea
xwebapp/public/bower_components/*
service/target
service/service.iml
poc/sb-websocket-hello/target/
poc/sb-websocket-hello/sb-websocket-hello.iml
