<div id="myVisualModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modalvisual" >
<div class="modal-content">
    <form name="myForm" class="myForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelVisual()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Add Visualization</h3>
        </div>
        <div class="modal-body">
            <p> This is container modal. </p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelVisual()">Cancel</button>
            <!--<button type="button" class="btn btn-primary" ng-click="createVisual()">Create</button>-->
        </div>
    </form>
</div>
</div>
</div>